{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins":
  [
    ["import", { "libraryName": "antd", "style": true }], // `style: true` for less
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}